<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Tweets</h1>
  </div>
</div>

<% @tweets.each do |tweet| %>
<div class="row">
  <div class="col-md-12">
    <div class="well">
      <p><%= tweet.message %></p>
      <p>@<%= link_to tweet.user.username, show_user_path(id: tweet.user.id) %></p>

    </div>
  </div>
</div>
<% end %>
