<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">@<%= current_user.username %>'s Twitter Feed</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-center">Here is what your "friends" are saying:</p>
  </div>
</div>

<% @following_tweets.each do |tweet| %>
<div class="row">
  <div class="col-md-12">
    <div class="well">
      <p>@<%= tweet.user.username %></p>
      <p><%= tweet.message.html_safe %></p>
    </div>
  </div>
</div>
<% end %>
